/**//**//*variables*//**//**/

$font-Headers-Footer-button: 'Lexend Giga', sans-serif;
$font-Body: 'Raleway', sans-serif;
$font-color: #000;
$background-color:#ffffff;
$background-color-:rgb(238, 238, 238);
$font-size-buttons: 15px;
$font-size-header1: 70px;
$font-size-header2: 23px;
$font-size-entries: 18px;
$text-transform: uppercase;

body{
    background-color: #0b3604;
}

#app {
    display: grid;
    grid-auto-rows: minmax(150px, auto);
    font-family: $font-Headers-Footer-button;
    text-transform: $text-transform;
    background: $background-color;
    justify-content: center;
    height:200vh;
//     height: fit-content
//     border: solid rgb(255, 238, 0);
}

.headline{
    font-size: $font-size-header1;
}

label{
    display:block;
    font-size: $font-size-header2;
}



// footer {
//     font-size: $font-size-header2;
// }

.cityDestination{
    margin-top: -50px;
}

.departureDate{
    margin-top: -100px;
}

#generate{
    margin-top: -150px;
}
        
.todoLabel{
    margin-top: 0px;
    border: solid #22b2da;
}


.listClass{
    // margin-top: -500;
    height:fit-content; 
    text-transform:$text-transform;
    border: solid rgb(219, 27, 27);
    // position: relative;
    // top: -500px;
}
      
input{
    display:block;
    height: 60px;
    width: 320px;
    background: rgb(238, 238, 238);
    font-size: $font-size-entries;
    font-family: $font-Body;
    border: none;
    text-transform:$text-transform;
    // color: #000000;
}

#todoInput{
    margin-top: 5px;
    border: solid blueviolet ;
}

#myUL{
    margin-top: 60px;
    font-size: $font-size-entries;
    font-family: $font-Body;
    text-transform:$text-transform;
    border: solid rgb(223, 226, 43); 
}

button{
    width: fit-content;
    height: fit-content;
    background: $background-color;
    color: black;
    font-size: $font-size-buttons;
    font-family: $font-Headers-Footer-button;
    text-transform:$text-transform;
    box-shadow: 2px 4px 5px #444;
    cursor: pointer;
}

#button1{
    margin-top: -180px;
    border: solid orange;
}

#button2{
    margin-top: 40px;
    border: solid rgb(255, 0, 191);
}

footer{
    font-family: $font-Headers-Footer-button;
    font-size:$font-size-entries;
    color: white;
    text-transform:$text-transform;
    /* margin-top: 110px; */
    text-align: center;
    margin: 0;
}

textarea{    
    color: #000000;
    font-size: $font-size-entries;
    font-family: $font-Body;
    background:#22b2da;
}




.myTripTitle{
    display:block;
    margin-top: -300px;
    height: fit-content;
    font-size: $font-size-entries;
    text-transform:$text-transform;
    border: solid rgb(32, 206, 162);
    // font-family: $font-Body;
    // height: 300px;
    // height: 20em ;
    // border: solid yellowgreen;

  
    .entry{
        font-family: $font-Body;
        font-size: $font-size-entries;
        border: solid rgb(32, 206, 162);
         // background: rgb(238, 238, 238);
        // height:fit-content; 
        // background: $background-color;
        // height: 300px;
        // margin-top: -437px;
        // text-transform:$text-transform;
    }  



    .entry-item{
        font-family: $font-Headers-Footer-button;
    }

    #itineraryTitle{
        font-family: $font-Headers-Footer-button;
        font-size: $font-size-header2;
        margin-bottom: 25px;
    }


    #count{
        font-family: $font-Headers-Footer-button;
        font-size: 30px;
    }
}

















// .entry{
    // background: $background-color;
    // height: 300px;
    // margin-top: -437px;
    // font-family: $font-Body;
    // font-size: $font-size-entries;
    // text-transform:$text-transform;
    // border: solid rgb(32, 206, 162);
//     // height:fit-content; 
// }






// @media only screen and (min-width: 35em){
//     label {
//         font-size: 45px;
//         // margin: 2em 4rem 1em;
//     }

//     input{
//         font-size: 35px;
//     }

//     #myUL{
//         font-size: 35px;
//     }
// }

// @media only screen and (min-width: 35em){
//     .landing__container {
//         max-width: 50em;
//         padding: 4em;
//     }
// }