body{
    background: #155a09;
    font-family: 'Raleway', sans-serif;
}

#app{
    display: grid;
    grid-auto-rows: minmax(150px, auto);
    height:150vh;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    justify-content: center;
    grid-gap: 10px;
    font-size: 60px;
    text-transform:uppercase;
    font-family: 'Lexend Giga', sans-serif;
}


/* 
.holder{

} */
.myTripTitle{
    margin-top: -70px;
}

.entry{
    background: #fdfdfd;
    height: 400px;
    margin-top: -170px;
}

/* #entryHolder{

}

#date{

}

#temp{

}

#location{

}

.headline {

}
.title{

} */

/*  Basic Styling To Override Default For Basic HTML Elements */
label{
    display:block;
    font-size: 27px;
}

input{
    display:block;
    height: 60px;
    width: 320px;
    background:#fdfdfd;
    color: #000000;
    font-size: 17px;
    font-family: 'Raleway', sans-serif;
    border: none;
   
}

button{
    width: fit-content;
    height: 30px;
    background: #f6f6f6;
    color: black;
    font-size: 15px;
    font-family: 'Lexend Giga', sans-serif;
    border: none;
    text-transform:uppercase;
    box-shadow: 2px 4px 5px #444;
    cursor: pointer;
}

h1{
    font-size: 36px;
}

footer{
    font-family: 'Lexend Giga', sans-serif;
    font-size: 10px;
    text-transform:uppercase;
    margin-top: 110px;
    text-align: center;
}

textarea{    background:#22b2da;
    color: #000000;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color: #000000; 
    font-family: 'Raleway', sans-serif;

} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: #f0d43a; 
    font-family: 'Raleway', sans-serif;

} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: #f0d43a; 
    font-family: 'Raleway', sans-serif;

} 